In [ ]:
import pandas as pd
import mysql.connector

df = pd.read_csv("/home/kkyu/amr_ws/DL/IoT_Project/environment.csv")

data = mysql.connector.connect(
    host = "127.0.0.1",
    port = 3306,
    user = "remote",
    password = "7500",
    database = "AdDYdb"   
)


sql = "INSERT INTO env_sensor VALUES(%s, %s, %s, %s, %s, %s, %s)"
cursor = data.cursor(buffered=True)

for i, row in df.iterrows():
    cursor.execute(sql, tuple(row))
    data.commit()
    
cursor.execute("SELECT * from env_sensor")

result = cursor.fetchall()
for row in result:
    print(row)
    
    
data.close()

In [17]:
import pandas as pd
import mysql.connector

# CSV 파일 읽기
df = pd.read_csv("/home/kkyu/amr_ws/DL/IoT_Project/environment.csv")

# 데이터베이스 연결 설정
data = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="remote",
    password="1234",
    database="AdDYdb"
)

# INSERT 쿼리
sql = "INSERT INTO test (DATE, TEMP, HUMIDITY) VALUES (%s, %s, %s)"
cursor = data.cursor()

# DataFrame의 각 행을 반복하면서 데이터베이스에 삽입
for i, row in df.iterrows():
    cursor.execute(sql, (row['Date'], row['Temp(°C)'], row['Humidity (%)']))
    data.commit()

# 삽입된 데이터 확인
cursor.execute("SELECT * FROM test")
result = cursor.fetchall()
for row in result:
    print(row)

# 연결 종료
data.close()

(1, datetime.date(2024, 3, 8), 24, 19)
(2, datetime.date(2024, 3, 8), 24, 19)
(3, datetime.date(2024, 3, 8), 24, 19)
(4, datetime.date(2024, 3, 8), 24, 19)
(5, datetime.date(2024, 3, 8), 24, 19)
(6, datetime.date(2024, 3, 8), 24, 19)
(7, datetime.date(2024, 3, 8), 24, 19)
(8, datetime.date(2024, 3, 8), 24, 19)
(9, datetime.date(2024, 3, 8), 24, 19)
(10, datetime.date(2024, 3, 8), 24, 19)
(11, datetime.date(2024, 3, 8), 24, 19)
(12, datetime.date(2024, 3, 8), 24, 19)
(13, datetime.date(2024, 3, 8), 24, 19)
(14, datetime.date(2024, 3, 8), 24, 19)
(15, datetime.date(2024, 3, 8), 24, 19)
(16, datetime.date(2024, 3, 8), 24, 19)
(17, datetime.date(2024, 3, 8), 24, 19)
(18, datetime.date(2024, 3, 8), 24, 19)
(19, datetime.date(2024, 3, 8), 24, 19)
(20, datetime.date(2024, 3, 8), 24, 19)
(21, datetime.date(2024, 3, 8), 24, 19)
(22, datetime.date(2024, 3, 8), 24, 19)
(23, datetime.date(2024, 3, 8), 24, 19)